
body {
 
  background: #fff7ed;
  color: #7c6a5d;
  font-weight: bolder;
}
/* HERO */
.hero {
    margin-top: 140px;
    height: 100px;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: #7c2d12;
}

.hero h1 {
    font-size: 44px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 16px;
    opacity: 0.9;
    color: #555;
}

/* ABOUT */
.about-section {
    padding: 70px 20px;
}

.about-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    gap: 50px;
    align-items: center;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    color: #ea580c;
    margin-bottom: 15px;
}

.about-text p {
    color: #7c6a5d;
    margin-bottom: 15px;
    line-height: 1.6;
}

/* IMAGE */
.about-image {
    flex: 1;
}

.about-image img {
    width: 500px;
    border-radius: 15px;
   
}

/* POINTS */
.about-points {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.about-points span {
    background: #ffffff;
    padding: 10px 14px;
    border-radius: 25px;
    color: #ea580c;
    border: 1px solid #f97316;
    font-size: 14px;
    width: 220px;
    justify-content: center;
    align-items: center;
    display: flex;
   
}

.about-points i {
    margin-right: 6px;
    color: #ea580c;
}

/* MISSION */
.mission-section {
    padding: 20px 20px;
    text-align: center;
}

.mission-section h2 {
    color: #7c2d12;
    margin-bottom: 10px;
}

.section-subtext {
    color: #7c6a5d;
    margin-bottom: 30px;
}

.mission-container {
    display: flex;
   justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
 
}

.mission-card {
    background: white;
    width: 260px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    transition: 0.3s;
   
}

.mission-card i {
    font-size: 22px;
    color: #ea580c;
}

.mission-card h3 {
    margin: 10px 0;
    color: #ea580c;
}

.mission-card p {
    font-size: 14px;
    color: #666;
}

.mission-card:hover {
    transform: translateY(-6px);
}

/*/* OFFERS GRID */
.offers {
    padding: 70px 20px;
    text-align: center;
}

.offers-grid {
    display: flex;
   justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* CARD */
.offer-card {
    width: 260px;
    background: white;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.offer-card:hover {
    transform: translateY(-8px);
}

/* ICON */
.offer-card i {
    font-size: 28px;
    color: #ea580c;
    margin-bottom: 15px;
}

.offers h2{
    color: #7c2d12;
}
.offer-card h3 {
    margin-bottom: 10px;
    color: #ea580c;
}

.offer-card p {
    color: #666;
    font-size: 14px;
}

.contact{
    background:#fff7ed;
    padding:40px 0;
}

/* CARD */
.contact-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:80px auto;
    gap:50px;
    width:900px;
  
    padding:30px;
    padding-left: 70px;
    background:#ffffff;   /* card */
    border-radius:16px;
    box-shadow:0 10px 30px rgba(0,0,0,0.05);
}

/* LEFT IMAGE */
.contact-left img{
    width:420px;
    border-radius:16px;
    object-fit:cover;
}

/* FORM */
.form{
    margin-left:50px;
}

/* HEADING */
.form h2{
    margin-top:-10px;
    font-size:22px;
    margin-bottom:20px;
    color:#ea580c; /* h2 */
}

/* SUBTEXT */
.subtext{
    width:90%;
    font-size:13px;
    color:#7c6a5d; /* p */
    margin-bottom:30px;
    line-height:1.5;
}

/* FIELD */
.field{
    margin-bottom:16px;
}

/* LABEL */
.field label{
    font-size:13px;
    color:#9a3412; /* h3 tone */
    display:block;
    margin-bottom:6px;
}

/* INPUT */
.field input,
.field textarea{
    width:70%;
    padding:10px 12px;
    border-radius:8px;
    border:1px solid #fed7aa; /* light orange border */
    font-size:13px;
    outline:none;
    background:#fff;
    transition:0.2s;
}


/* TEXTAREA */
.field textarea{
    height:80px;
    resize:none;
}

/* BUTTON */
.form button{
    width:85%;
    padding:11px;
  
    border:none;
    border-radius:25px;
    background:#ea580c; /* button */
    color:#fff;
    font-size:14px;
    cursor:pointer;
    transition:0.2s;
}
/* INPUT BOX */
.input-box{
    position:relative;
    width:70%;
    color: #f97316;
    font-weight: bolder;
}

/* ICON */
.input-box i{
    position:absolute;
    left:10px;
    top:50%;
    transform:translateY(-50%);
    color:#f97316;
    font-size:13px;
}

/* INPUT */
.input-box input,
.input-box textarea{
    width:100%;
    padding:10px 12px 10px 34px;
    border-radius:8px;
    border:1px solid #fed7aa;
    font-size:13px;
    outline:none;
    background:#fff;
    font-weight: bolder;
    color: #f97316;
}

/* TEXTAREA FIX */
.textarea-box textarea{
    height:80px;
    resize:none;
    padding-top:12px;
}

.textarea-box i{
    top:16px;
    transform:none;
}
/* HOVER *//* INPUT BOX */
.input-box{
    position:relative;
    width:70%;
}

/* ICON */
.input-box i{
    position:absolute;
    left:10px;
    top:50%;
    transform:translateY(-50%);
    color:#f97316;
    font-size:13px;
}
.input-box input::placeholder,
.input-box textarea::placeholder{
    color:#f97316;
   font-weight: bolder;   /* subtle look */
}

/* INPUT */
.input-box input,
.input-box textarea{
    width:100%;
    padding:10px 12px 10px 34px;
    border-radius:8px;
    border:1px solid #fed7aa;
    font-size:13px;
    outline:none;
    background:#fff;
}

/* TEXTAREA FIX */
.textarea-box textarea{
    height:80px;
    resize:none;
    padding-top:12px;
}

.textarea-box i{
    top:16px;
    transform:none;
}
.form button:hover{
    background:#c2410c; /* hover */
}

@media(max-width: 768px) {

    .about-container {
        flex-direction: column;
       
    }.about-points{
        justify-content: center;
    }

    .contact-card {
        flex-direction: column;
    }

    .offer-box {
        width: 100%;
    }

    .hero h1 {
        font-size: 32px;
    }
    .about-image img{
        width: 100%;
    }
}
/* TABLET */
@media (max-width: 1024px){
    .contact-wrapper{
        width:90%;
        gap:30px;
        padding:25px;
    }

    .contact-left img{
        width:320px;
    }
}

/* MOBILE */
@media (max-width: 768px){

    .contact-wrapper{
        flex-direction:column;
        width:80%;
        padding:20px;
        gap:25px;
        margin:40px auto;
    }

    .contact-left{
        text-align:center;
    }

    .contact-left img{
        width:100%;
        max-width:320px;
    }

    .form{
        margin-top: 30px;
        margin-left:0;
        width:100%;
    }

    .subtext{
        width:100%;
    }

    /* INPUT FULL WIDTH */
    .input-box{
        width:100%;
    }

    .field input,
    .field textarea{
        width:80%;
    }

    /* BUTTON FULL WIDTH */
    .form button{
        width:100%;
        border-radius:10px;
    }
}

/* SMALL MOBILE */
@media (max-width: 480px){

    .form h2{
        font-size:18px;
    }

    .subtext{
        font-size:12px;
    }

    .field label{
        font-size:12px;
    }
}