.navbar{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
    color:#fff;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:#fff;
    font-weight:500;
}

.nav-links a.active{
    border-bottom:2px solid #fff;
}

body{
    padding-top:80px;
}