/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo-container{
display: flex;
gap: 30px;
align-items: center;
}.logo{
    padding: 0px;
    margin: 0px;
    height: 60px;
}

body {
    font-weight: bolder;
    background: #fff7ed;
    color: #7c6a5d;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 50px;
    background-color: #7c2d12;
    position: relative;

    padding: 20px 60px;
    background: #1E3A8A;
    backdrop-filter: blur(10px);

}

/* Logo */
.logo {
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

/* Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;

    color: #ffffff;

    color: #E5E7EB;

    transition: 0.3s;
    font-weight: 500;
}

.nav-links a:hover {

    color: #ea580c;
}

/* ================= HAMBURGER ================= */
.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
    color: #f97316;

    color: #FFFFFF;

}

/* ================= HERO SPLIT ================= */
.hero-split {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
    gap: 50px;
    
}

/* Image */
.hero-image {
    position: relative;
    width: 50%;
    height: 420px;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* Overlay */
.hero-image::after {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(124, 45, 18, 0.1);
    border-radius: 20px;

    background: rgba(0,0,0,0.10); /* very light */
    border-radius: 30px;

}

/* Floating Card */
.career-card {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    background: #ffffff;
    padding: 18px;
    border-radius: 15px;
    width: 250px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

/* Career Items */
.career-card h3 {
    color: #9a3412;
    margin-bottom: 10px;
}

.career-item {
    background: #fff7ed;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.career-item span {
    color: #7c6a5d;
    font-size: 14px;
}

.stars {
    font-size: 12px;
    color: #f97316;
}

/* Right Content */
.hero-content {
    width: 50%;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #7c2d12;
}

.hero-content p {
    color: #7c6a5d;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
}

/* Buttons */
.hero-buttons {
    display: flex;
    gap: 15px;
}

.primary-btn {
    padding: 12px 25px;
    border: none;
    background: #ea580c;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.secondary-btn {
    padding: 12px 25px;
    border: 1px solid #ea580c;
    background: transparent;
    color: #ea580c;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.primary-btn:hover {
    background: #c2410c;
    transform: scale(1.05);
}

.secondary-btn:hover {
    background: #ea580c;
    color: white;
}

/* ============== HOW IT WORKS ============== */
.how-it-works {
    padding: 40px 60px;
    text-align: center;
}

.how-it-works h2 {
    font-size: 32px;
    margin-bottom: 50px;
    color: #ea580c;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* center align */
    gap: 40px; /* proper spacing */
    margin-top: 50px;
}

/* ================= CARD ================= */
.card {
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #fed7aa;

    width: 260px; /* controlled width */
    min-height: 220px; /* flexible height */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    text-align: center;
    transition: 0.3s;
}

/* Hover */
.card:hover {
    transform: translateY(-8px);
    border-color: #ea580c;
}

.card {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
    height: 200px;
    width: 280px;
    border: 1px solid #fed7aa;
    position: relative;
    margin-top: 60px;
}

.card-div{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card-img{
    background-color:#f97316;
    border-radius: 50%;
    padding: 14px;
    position: absolute;
    top: -60px;
    height: 100px;
}

.card h3 {
    margin-top: 50px;
    margin-bottom: 15px;
    color: #9a3412;
}

.card p {
    color: #7c6a5d;
    font-size: 14px;
}

/* section */
.section-heading{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #ea580c;
    font-size: 20px;
}

.cards-1{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card-1{
    margin-top: 50px;
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    height: 100px;
    width: 290px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #ea580c;
    color: #7c6a5d;
}
.card-1 h3{
    margin-bottom: 20px;
    color: #f97316;
}
/* Icons */
.card-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
    color: #f97316;
}

/* Hover */
.card:hover {
    transform: translateY(-8px);
    background: #fff7ed;
    border: 2px solid #ea580c;
    cursor: pointer;
}

.card:hover .card-icon {
    transform: scale(1.1);
}

/* ============== FOOTER ============== */
.footer {
    background: #7c2d12;
    padding: 60px 60px 20px;
    color: #fff7ed;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer h2, .footer h4 {
    color: #ffffff;
    margin-bottom: 10px;
}

.footer p {
    font-size: 14px;
    color: #fed7aa;
}

/* Links */
.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    text-decoration: none;
    color: #fed7aa;
    margin-bottom: 8px;
    font-size: 14px;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #ffffff;
}

/* Social */
.social-icons {
    display: flex;
    gap: 15px;
    font-size: 18px;
    margin-top: 10px;
}

/* Bottom */
.footer-bottom {
    text-align: center;
    border-top: 1px solid rgba(124,45,18,0.2);
    margin-top: 40px;
    padding-top: 15px;
    font-size: 13px;
    color: #fed7aa;
}


@media (max-width: 768px) {

    /* Remove side padding from sections */
    .how-it-works,
    .hero-split,
    .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Cards container */
    .cards {
        justify-content: center;
        gap: 90px;
        margin: 0;
    }

    /* Card full width */
    .card {
        width: 100% !important;
        max-width: 100% !important;
        margin-top: 30px;
    }  .navbar {
        padding: 15px 20px;
    }

    /* Show hamburger */
    .hamburger {
        display: block;
    }

    /* Menu style */
    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;

        background: #7c2d12;

        flex-direction: column;
        align-items: center;
        gap: 20px;

        padding: 20px 0;

        /* Hidden by default */
        transform: translateY(-200%);
        opacity: 0;
        transition: 0.4s ease;
    }

    /* Show menu when checked */
    .menu-toggle:checked ~ .nav-links {
        transform: translateY(0);
        opacity: 1;
    }

    /* Full width links */
    .nav-links li {
        width: 100%;
        text-align: center;
    }

    .nav-links a {
        display: block;
        padding: 0px 0;
        width: 100%;
    }
}